:root {
    --cplspls-progress: 5%; 
}

.cplspls-progress-container {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
}

.cplspls-progress-bar {
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    height: 20px;
}

.cplspls-progress-fill {
    height: 100%;
    background-color: #0066ff;
    width: var(--cplspls-progress); 
    transition: width 0.3s;
}

.cplspls-progress-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.cplspls-progress-label {
    text-align: center;
    width: 25%;
}
